.container {
    display: flex;
    flex-direction: row;
    
}

.containerTitle {
    display: flex;
    flex-direction: row;
    height: 100px;
    align-items: center;
}

.headerbar {
    position: sticky;
    top:0;
}


.side {
    flex-basis: 15%;
}

.main {
    flex-basis: 80%;
}

.center {
    flex-basis: 70%;
    
}